In [1]:
import pandas as pd
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# 타이타닉 데이터셋 로드
df = sns.load_dataset('titanic')

##  train_test_split
- 하이퍼파라미터
    - test_size
    - train_size
    - radom_state
    - shuffle =True, False 데이터 분할 전에 섞는 것
    - statify = y 타겟변수 층화샘플링도 가능하다.

In [2]:
import pandas as pd
df['sex'] = df['sex'].map({'male':0, 'female':1})
df=pd.get_dummies(df, columns=['embarked'], drop_first=True)

In [3]:
# 학습데이터셋 정리

X = df[['sex','age','fare','embarked_Q','embarked_S']]
y = df['survived']

In [4]:
#train_test_split 나눈다.

X_train, X_test, y_train, y_test=train_test_split(
    X,y,
    test_size= 0.2)

In [5]:
print(X_train, y_train)

     sex   age     fare  embarked_Q  embarked_S
403    0  28.0  15.8500       False        True
357    1  38.0  13.0000       False        True
774    1  54.0  23.0000       False        True
501    1  21.0   7.7500        True       False
203    0  45.5   7.2250       False       False
..   ...   ...      ...         ...         ...
752    0  33.0   9.5000       False        True
164    0   1.0  39.6875       False        True
849    1   NaN  89.1042       False       False
289    1  22.0   7.7500        True       False
662    0  47.0  25.5875       False        True

[712 rows x 5 columns] 403    0
357    0
774    1
501    0
203    0
      ..
752    0
164    0
849    1
289    1
662    0
Name: survived, Length: 712, dtype: int64


X_train, X_test, y_train, y_test=train_test_split(
    X,y,
    test_size= 0.2,
    stratify = y)

print(X_train, y_train, y_test)

In [6]:
#스케일링 진행
scaler=StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [7]:
print(y.value_counts(normalize=True))

survived
0    0.616162
1    0.383838
Name: proportion, dtype: float64

In [8]:
print(y_train.value_counts(normalize=True))

survived
0    0.623596
1    0.376404
Name: proportion, dtype: float64

In [9]:
print(y_test.value_counts(normalize=True))

survived
0    0.586592
1    0.413408
Name: proportion, dtype: float64

- train_test_split 데이터를 자르는 방법, 어떻게 데이터를 자르는가?

### 교차검증 cross_val
- 반복적으로 교차 검증을 하는 것 위에 train_test_split 이거와 비슷하지만 다른 뜻을 의미한다.

In [10]:
## 교차검증
## k-fold Sk-fold
from sklearn.model_selection import KFold, StratifiedKFold

In [11]:
kf = KFold(n_splits = 5)
skf = StratifiedKFold(n_splits = 5)

In [12]:
X

     sex   age     fare  embarked_Q  embarked_S
0      0  22.0   7.2500       False        True
1      1  38.0  71.2833       False       False
2      1  26.0   7.9250       False        True
3      1  35.0  53.1000       False        True
4      0  35.0   8.0500       False        True
..   ...   ...      ...         ...         ...
886    0  27.0  13.0000       False        True
887    1  19.0  30.0000       False        True
888    1   NaN  23.4500       False        True
889    0  26.0  30.0000       False       False
890    0  32.0   7.7500        True       False

[891 rows x 5 columns]

In [13]:
from collections import Counter
# Kfold의 값을 넣어서 나누면 된다.
# kf.split(X)
kf_target_dis=[Counter(y.iloc[test_idx]) for _, test_idx in kf.split(X)]

In [14]:
# skf.split(X,y) 클래스값도 꼭 같이 넣어줘야 한다. 
# 클래스 값이 어떤 분포인지에 따라 비율로 나누려고 한다.
skf_target_dis=[Counter(y.iloc[test_idx]) for _, test_idx in skf.split(X,y)] #

In [15]:
kf_target_dis

[Counter({0: 120, 1: 59}),
 Counter({0: 99, 1: 79}),
 Counter({0: 109, 1: 69}),
 Counter({0: 106, 1: 72}),
 Counter({0: 115, 1: 63})]

In [16]:
skf_target_dis

[Counter({0: 110, 1: 69}),
 Counter({0: 110, 1: 68}),
 Counter({0: 110, 1: 68}),
 Counter({0: 110, 1: 68}),
 Counter({0: 109, 1: 69})]